.profile_music_wrapper {
    margin-top: 16px; 
    width: 100%; 
    max-width: 660px;
}

@media (max-width: 768px) {
    .profile_music_wrapper {
        margin-top: 0 !important;
        padding: 0 16px;
    }
}
