ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS instagram_url text, ADD COLUMN IF NOT EXISTS linkedin_url text, ADD COLUMN IF NOT EXISTS discord_id text, ADD COLUMN IF NOT EXISTS github_url text;
